<form class="form" [formGroup]="pigForm" (ngSubmit)="onSubmit()">
    <div class="yourInfo">
        <h2>Your Info</h2>
        <label>
            Name:<br>
            <input type="text" formControlName="reporterName"><br>
        </label>

        <label>
            Phone Number:<br>
            <input type="text" formControlName="phoneNum">
        </label><br>
        <input type="submit" value="Submit">
    </div>

    <div class="pigInfo">
        <h2>Pig Info</h2>
        <label>
            ID:<br>
            <input type="text" formControlName="pId"><br>
        </label>

        <label>
            Name:<br>
            <input type="text" formControlName="pigName"><br>
        </label>

        <label>
            Breed:<br>
            <select formControlName="pigBreed">
                <option value="Yorkshire">Yorkshire</option>
                <option value="Pork-Bellied">Pork-Bellied</option>
                <option value="Porkchop">Porkchop</option>
                <option value="Unknown">Unknown</option>
            </select><br>
        </label>

        <label>
            Location:<br>
            <select formControlName="location">
                <option value="Metrotown">Metrotown</option>
            </select><br>
        </label>

        <label>
            Note:<br>
            <input type="text" formControlName="note"><br>
        </label>
    </div>
</form>