.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }

  h1 {
    color: white;
    padding-right: 50px;
  }

  app-button {
    padding-left: 50px;
  }