.pig {
    background: #1c2428;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.pig h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3, p {
    color: white;
  }