<!-- <div 
    [ngClass]="{ status: pig.data.status}" 
    class="pig"
    (dblclick)="onToggle(pig)"
>
    <h2>{{ pig.data.pigName }} <app-button text="Delete" (btnClick)="onDelete(pig)"></app-button></h2>

    <h3>info:</h3>
    <p>
    id: {{ pig.key }}<br>
    breed: {{ pig.data.pigBreed }}<br>
    location: {{ pig.data.location }}<br>
    time: {{ pig.data.time }}<br>
    note: {{ pig.data.note }}<br><br>
    </p>

    <h3>contact info:</h3>
    <p>
    name: {{ pig.data.reporterName }}<br>
    number: {{ pig.data.reporterNum }}
    </p>
</div> -->

<td>{{ pig.data.location }}</td>
<td>{{ pig.data.reporterName }}</td>
<td>{{ pig.data.time}}</td>
<td>{{ pig.data.status}}</td>
<td>more info</td>
<td><app-button text="Delete" (btnClick)="onDelete(pig)"></app-button></td>
