.pig {
    background: #181a1b;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.pig h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2, h3, p {
    color: white;
  }
  
  .pig.status {
    border-left: 5px solid green;
  }
  
  .pig h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }