
    <!-- <tr>
        <th>Location</th>
        <th>Reported By</th>
        <th>Time Reported</th>
        <th>Status</th>
        <th>More Info</th>
        <th>Delete</th>
    </tr> -->
<!-- <div class="container">
    <app-pig-item *ngFor="let pig of pigs" [pig]="pig" (onDeletePig)="deletePig(pig)" (onToggleStatus)="toggleStatus(pig)"></app-pig-item>
</div> -->

<table>
    <tr>
        <th>Location</th>
        <th>Reported By</th>
        <th>Time Reported</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let pig of pigs">
        <td>{{ pig.data.location.locName }}</td>
        <td>{{ pig.data.reporterName }}</td>
        <td>{{ pig.data.time }}</td>
        <td>
          <div *ngIf="pig.data.status;then valid else not_valid"></div>
          <ng-template #valid>RETRIEVED</ng-template>
          <ng-template #not_valid>READY FOR PICKUP</ng-template>
        </td>
        <td><app-button text="MORE INFO" (btnClick)="openDialog(pig)"></app-button></td>
        <Td><app-button text="Edit Status" (btnClick)="toggleStatus(pig)"></app-button></Td>
        <td><app-button text="Delete" (btnClick)="deletePig(pig)"></app-button></td>
    </tr>
</table>