
    <!-- <tr>
        <th>Location</th>
        <th>Reported By</th>
        <th>Time Reported</th>
        <th>Status</th>
        <th>More Info</th>
        <th>Delete</th>
    </tr> -->
<div class="container">
    <app-pig-item *ngFor="let pig of pigs" [pig]="pig" (onDeletePig)="deletePig(pig)" (onToggleStatus)="toggleStatus(pig)"></app-pig-item>
</div>

<table>
    <tr>
        <th>Location</th>
        <th>Reported By</th>
        <th>Time Reported</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let pig of pigs">
        <td>{{ pig.data.location }}</td>
        <td>{{ pig.data.reporterName }}</td>
        <td>{{ pig.data.time }}</td>
        <td>MORE INFO</td>
        <td><app-button text="Delete" (btnClick)="deletePig(pig)"></app-button></td>
    </tr>
</table>